<form class="my-2 my-lg-0" action="/details" method="GET">
    <fieldset>
        <div class="row">
            <input class="form-control mr-sm-2" type="text" default="<%= data['items']['id']; %>" name="show_details" style="display: none;">
            <input class="btn btn-link btn-block my-2 my-sm-0" type="submit" value="Details">
        </div>
    </fieldset>
</form>