
    <div class="container">
        <form class="form-inline my-2 my-lg-0" action="/search_results" method="GET">
            <fieldset>
                <div class="row">
                    <input class="form-control mr-sm-2" type="text" placeholder="Find a book..." name="search">
                    <input class="btn btn-dark btn-large my-2 my-sm-0" type="submit" value="Search">
                </div>
            </fieldset>
        </form>
    </div>



