@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

.delete-form {
    display: inline;
}

#landing-page {
    background: url("../images/whitebooks.jpg") no-repeat center center fixed;
    background-size: cover; 
}


.styled-text {
    font-family: 'Josefin Slab', serif;
}

.page-center {
    margin-top: 30%;
}
.page-top-third {
    margin-top: 15%;
}

.page-top-quarter {
    margin-top: 8%;
}

.card{
    display: inline-block;
    
}

.card-text-short {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.image-container {
    padding: 1em;
}



.search-results {
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background: url("../images/blankbook.jpg");
    background-repeat: no-repeat;
}